[2017-09-14 22:10] dramaking opened #2 "Map doesn't update when the options changes"
I am trying to give users the option to toggle the cluster by using "disableClusteringAtZoom" option:
[code]
then return the clusterOptions an object in the computed property.

But the map doesn't toggle the cluster unless I reload the page.

So I ended up doing this
[code]
Can we bind the cluster options to the map so that it can be updated immedietely?

[2017-09-14 23:41] jperelli commented on #2
Nice one, let me see if I can do something about this. Also, any pull request to solve this is welcome

[2017-10-14 03:47] jperelli commented on #2
@dramaking I fixed it, but I don't know why it didn't work with watch deep:true, so you'll need to create a new options object every time you change an option, something like this:

    newOptions = Object.assign({}, oldOptions, {opt: val})

[2017-10-14 03:47] #2 closed

[2017-11-15 09:36] verediongzon opened #6 "Marker cluster click"
Does this module extends the clusterclick event? If yes, how do I do it? if no, do you have any recommendation to do it? I wanted to achieve getting the mid point of clicked clustered coordinates.

I checked this one on the leaflet doc, the click event:
https://github.com/Leaflet/Leaflet.markercluster

[2017-12-03 02:15] friedPotat0 opened #7 "Bulk adding and removing Markers"
Is there any way to achive bulk adding/removing of markers to a cluster group like it's described in the Leaflet.markercluster doc?
[https://github.com/Leaflet/Leaflet.markercluster#bulk-adding-and-removing-markers](url)

I tried to reference the v-marker-cluster component and call the function contained in the mapObject to add the markers _this.$refs.cluster.mapObject.addLayers(<MARKER_ARRAY>)_.

[2018-01-31 04:51] jperelli commented on #6
@verediongzon I'm working on this one right now, expect to have it done in a couple of hours. Sorry for the delay, hope that helps someone when finished and thanks for the report :)

[2018-01-31 04:53] jperelli commented on #7
I might be implementing this somehow in this days. Seems a good feature to have. Thanks for the report, I'll let you know any news.

[2018-01-31 05:41] #6 closed

[2018-01-31 05:45] jperelli commented on #6
@verediongzon Done and published as version 1.3.0 in npm

[2018-02-13 01:41] verediongzon commented on #6
@jperelli Hi thank you for the enhancement. This is a very useful module.

[2018-02-19 15:21] skinnyjames commented on #7
@jperelli I'd love to test this out with a vue app using a lot of markers, but I can't get the bulk_test branch to build.

[2018-02-19 15:33] skinnyjames commented on #7
I'm getting this error - not exactly sure why though :(

`[Vue warn]: Error in beforeDestroy hook: "TypeError: Cannot read property 'removeLayer' of undefined"`

[code]

[2018-02-19 20:51] friedPotat0 commented on #7
I was able to build the example successfully with Poi.
After deployment the example took about 1 minute to completely show all the markers on the map. The site was not responding at all during this period. I also tested the chunk options mentioned in Leaflet.markercluster doc but it seems like the page is just locked until all markers are added successfully to the map. I logged the values in the c

[2018-02-19 21:05] jperelli commented on #7
ok, thanks for the reports, evidently the proposed solution is not working. I'm thinking if this is a problem with the implementation I made or if this is a problem with vue's v-for performance. Can't find any help on fixing vue's v-for performance easily, so I'll check my code and let you know if I can improve it somehow.

Any comments on the pull request are infinitely welcomed :)

[2018-02-19 22:02] friedPotat0 commented on #7
The _add function in the Vue2LeafletMarkercluster component is called twice. Once in the mounted function and a few seconds later in the watcher for the options prop again. That is the reason why I got only one output of the chunkProgress-function. The second _add destroyed or stacked with the first adding progress in any way. After commenting out the options watcher I get a page load with the pro

[2018-02-19 22:38] friedPotat0 commented on #7
Okay, figured out that there is a setTimeout function in the example component which causes the options prop to be rewriten after 5 seconds. If you remove these lines the bulk adding only gets called once when mounting the markercluster. Probably the function is there for testing purposes only?!

[2018-02-20 11:25] jperelli commented on #7
Right, the setTimeout was for testing purposes. I will make two test files, one only for bulk. I'll modify the PR today in a couple of hour. Thank you for your help!

[2018-02-20 12:17] friedPotat0 commented on #7
No problem. Please keep in mind that the build command of vue-cli is no longer useable for building your examples. When using `vue build somefile.vue`, like it's written in your package.json for building, it throws an error saying:

Check out Poi (https://github.com/egoist/poi) which offers the same functionality!

I fixed this by installing Poi `npm i poi -D` and adding a new index.js to the main

[2018-02-26 03:38] jperelli commented on #7
I modified the examples, but couldn't improve performance.
Maybe vue or vue2leaflet are adding some overhead.

Please let me know if the new Pull Request is ok or if you see that it runs slow
run with:
[code]

[2018-02-26 04:53] skinnyjames commented on #7
I got marker clusters to work well with vue as a standalone library.  If it helps, I can take a closer look soonish!

[2018-02-26 12:57] jperelli commented on #7
Yes please :)

[2018-03-15 14:19] skinnyjames commented on #7
Hi all,
I looked into it, and I redesigned a bit how vue2leaflet components are initialized
(using an event bus instead of deferredMountedTo)
It might not be the best way, but components like marker cluster, are working a lot faster with lots of markers.
There is a provisional working demo at https://github.com/skinnyjames/mapa
[code]
Would love to hear thoughts.

[2018-03-27 18:56] mits87 opened #9 "Problem with new version of Vue2Leaflet"
Hi,

vue2-leflet-markercluster not working with Vue2Leaflet "v1.x.x" package.
[https://www.dropbox.com/s/7twy2dv876es396/Screenshot%202018-03-27%2020.56.30.png?dl=0](https://www.dropbox.com/s/7twy2dv876es396/Screenshot%202018-03-27%2020.56.30.png?dl=0)

Could you fix it?
Thx

[2018-03-29 14:17] mits87 opened #11 "Clustering layers"
Hi,

I'm using your awsome plugin for `KoRiGaN/Vue2Leaflet` and all works fine except clustering layers.

This is standard code:
[code]

This I would like to works also:
[code]

Below you can find a video where you can see what I mean.
[https://www.dropbox.com/s/q2rp7ydltft0z5f/map_cluster_example.mp4](https://www.dropbox.com/s/q2rp7ydltft0z5f/map_cluster_example.mp4)

Could you add this feature t

[2018-03-30 14:34] naderio commented on #9
@jperelli @mits87 check PR #10, work in progress...

[2018-04-03 06:45] sangdth opened #12 "Please upgrade the vue2-leaflet"
Vue2-Leaflet has upgraded to v1.0.1 with some breaking changes. Cluster seems does not work after I've upgraded.

Thanks in advance.

[2018-04-16 08:27] fdenzer commented on #12
Duplicate, as this is a work in progress under ticket number #10 .

That tickets seems to be about 1.0.1, so it is a misnomer as it has 1.0.0 in title?

[2018-04-16 13:12] jperelli commented on #12
Closing in favor of https://github.com/jperelli/vue2-leaflet-markercluster/pull/10

[2018-04-16 13:12] #12 closed

[2018-04-18 22:29] jperelli commented on #9
done in version 2.0.0 thanks to @naderio

[2018-04-18 22:29] #9 closed

[2018-04-20 00:29] jperelli commented on #11
Hi, I was trying to see how to make this.
 - Where did you get that video from?
 - Do you have any other sources on how to accoplish this?

marker cluster is working for geojson with type:points in it as it is now.

In order to make this work I'll need more info.

[2018-04-20 02:47] #11 closed

[2018-04-20 02:49] jperelli commented on #11
Please view this lines for a solution https://github.com/jperelli/vue2-leaflet-markercluster/commit/f48f528747d485245ebe54499498deed58f0ad30#diff-43372b526e3f1e550782f2a76f3676c4R29

the trick is to use the `onEachFeature` option for geojson to add `getLatLng`, `setLatLng` and `_latlng` attributes to the layer so markercluster thinks this is a marker.

[2018-04-20 05:39] sangdth commented on #11
@jperelli I don't need it now but your trick is helpful, thank you for your works

[2018-04-23 09:18] sangdth opened #14 "How to access leaflet-markercluster's methods?"
Hello @jperelli , this is not an issue, I'm just learning how to use your plugin.

If I'm not wrong, you are using [Leaflet.markercluster](https://github.com/Leaflet/Leaflet.markercluster#defaults) plugin, then how can I access their methods, in this case I want to call `refreshClusters()`

My component looks like this:
[code]
I've tried to run `this.$refs.sourcesCluster.refreshClusters()` but it

[2018-04-24 16:26] jperelli commented on #14
Good idea, I think it is not exposed, I'll take a look on doing it later today

[2018-04-24 17:15] sangdth commented on #14
Thank you, I'm looking forward.

[2018-04-25 02:58] jperelli commented on #14
You were close... you need to use `mapObject`, will add this to the documentation
[code]

[2018-04-25 03:13] #14 closed

[2018-05-04 10:18] EmmanuelBeziat opened #15 "Error from calling L.MarkerClusterGroup after updating to 2.0.0"
Hi,

Having just updated `vue2-leaflet` from 0.x.x to 1.0.2 (`vue2-leaflet-markercluster`  and `leaflet` dependencies are up to date too), I just ran into this error in console browser:

[code]

My code hasn't change much, except for `the vue2-leaflet` breaking-changes that needed to be done.

Here's what it looks like:

[code]
Except from the components names, there's no difference with before. I

[2018-05-04 13:16] jperelli commented on #15
Try adding `leaflet.markercluster` to the list of requirements
[code]

[2018-05-04 21:54] EmmanuelBeziat commented on #15
Hi,
Unfortunately, it has no effect…

[2018-05-05 12:56] edwardlorilla opened #16 "not an issue, trying to ask, if there is cdn somewhere"
if there is cdn somewhere?

[2018-05-06 21:30] jperelli commented on #16
you can use jsdelivr https://www.jsdelivr.com/package/npm/vue2-leaflet-markercluster or unpkg https://unpkg.com/#/ use the file in /dist folder

[2018-05-06 21:30] #16 closed

[2018-05-07 13:54] verdie-g opened #17 "Expanding a cluster mutates the lat-lng object"
Hi,

In the following code

[code]

expanding the cluster by clicking on a marker would mutate the object `job._geoloc` with the new position of the marker.

My workaround is the following:
[code]
But it is annoying to make a copy of `_geoloc` for every marker.

Is this behaviour intentional ?

Thanks.

[2018-05-30 09:51] wuxiashuangji opened #18 "map has 3 markers,but show 2 markers"
there are tree markers in the picture
![image](https://user-images.githubusercontent.com/21117027/40712353-15fbbb00-6430-11e8-9a91-ab5666df2235.png)

but it only show two markers

![image](https://user-images.githubusercontent.com/21117027/40712395-35be5aec-6430-11e8-87ca-07522467271a.png)

and i find three elements in  dom  , two markers is a same marker

![image](https://user-images.githubuserco

[2018-05-30 09:53] wuxiashuangji commented on #18
i need your helps,this bug @jperelli

[2018-05-30 12:06] wuxiashuangji commented on #18
I delete this and show normal

![image](https://user-images.githubusercontent.com/21117027/40719097-ec6155e2-6444-11e8-940f-1a58ac443b81.png)

[2018-07-11 07:59] nik-el opened #19 "Work with Vue2Leaflet.LImageOverlay"
Hello!
Thans for plugin)

I have problem, when i use ImageOverlay instead of TileLayer.

In example.vue

[code]

<img width="1274" alt="2018-07-11 10 51 50" src="https://user-images.githubusercontent.com/16726703/42558141-068c204e-84f9-11e8-8362-def28d998390.png">

[2018-07-12 10:00] nik-el commented on #19
i found solution
in this [post](https://github.com/Leaflet/Leaflet.markercluster/issues/611#issuecomment-277670244)

just add
` map._layersMaxZoom = `

sorry that bothered

[2018-07-13 14:45] jperelli commented on #19
wow, weird... thanks for posting the solution!

[2018-07-13 14:45] #19 closed

[2018-07-15 16:30] WilliamWCYoung opened #20 "GeoJSON added via REST not appearing in clusters"
I'm getting some geojson data via a RESTful API call in the ```created()``` method which I store in the variable ```applications```. This variable is initialized as ```null```:

[code]

I am passing the variable into the template as such (ignore the l- prefix, I renamed them so they were consistent with the other leaflet components):
[code]

The problem is I never see the clusters on the map! It d

[2018-08-10 16:36] VVNoodle commented on #18
I had the same problem and deleting that line works! Thanks for that!

[2018-11-11 12:14] arenddeboer commented on #15
Did you find a solution ? I run into the same issue after updating.

[2018-11-14 09:30] hponcede commented on #15
@arenddeboer which file should that be ?

[2018-11-14 10:34] hponcede commented on #15
Thanks. Meanwhile, i've modified my `vue.config.js` :
[code]

I still have other problems though, but with `leaflet.markercluster`, not the Vu2 componenent.

[2018-12-03 18:22] mikebronner opened #21 "Popup Not Displaying When Clicking Marker In Expanded Cluster"
When clicking on a marker-cluster that is expanded (and spidered), that won't zoom in further due to limitation from max zoom level set on the map, clicking a marker belonging to a spidered cluster will not show the popup, as the spidered cluster collapses again immediately after clicking.

Is there a recommended work-around for this? Thanks for you help, this package is really useful!

[2018-12-20 12:50] dreblen commented on #18
The problem seems to be related to vue2-leaflet, not to this package. I had this same problem with v1.0.2 of vue2-leaflet, but it seems to be fixed in v1.1.1 and newer, so the workaround of removing the line from the leaflet.markercluster package is no longer necessary.

[2018-12-23 02:36] jperelli commented on #18
ok, I'll try updating the package, thanks!

[2018-12-23 03:30] jperelli commented on #18
I updated the dependencies and published to npm, you can upgrade now to vue2-leaflet-markercluster@2.1.0, I tested it and the issue got fixed.
Please also test it if you can and let me know if there is any problem.
Sorry for the delay, merry christmas :santa:

[2018-12-23 03:32] jperelli commented on #15
I updated the package to v2.1.0, please try it again and let me know if this issue keeps appearing

[2019-01-12 14:09] idohurvitz opened #23 "override default icon of cluster"
hey,
I'm trying to override icon of cluster to my own.
The code in the marker cluster is :
`L.markerClusterGroup({
	iconCreateFunction: function(cluster) {
		return L.divIcon({ html: '<b>' + cluster.getChildCount() + '</b>' });
	}
}); `

how can get the same functionality with the plugin?

EDIT
i want to have the same option as the vue2-leaflet wrapping:

`<v-marker :icon=“getCustomIcon(MarkerData

[2019-01-18 08:07] #23 closed

[2019-01-19 12:31] idohurvitz commented on #23
i use it like the example shown in issue #14

[2019-02-12 11:02] dzarezenko opened #24 "Can't connect CSS styles"
When I am trying to connect CSS styles like described in the README.md
[code]
I received this error `Error: Can't resolve '~leaflet.markercluster/dist/MarkerCluster.css'`

npm module is installed and these CSS files are exist

[2019-02-12 15:40] fdenzer commented on #15
For me, neither the package stack of

[code]

nor
[code]

work any more (although the latter used to work for morethan a month).
Right now, on `npm 6.7` and `node 10.14.2` the error shown above about L.MarkerClusterGroup gets raised.

[2019-02-22 07:33] sbstnplcn opened #25 "Leaflet.markercluster events"
Hi !
Is it possible to use Leaflet.markercluster events (https://github.com/Leaflet/Leaflet.markercluster#events) like spiderfied or unspiderfied in component ?
Try to add @spiderfied or @clusterspiderfied and nothing works.

Thanks

[2019-03-03 13:12] zhanghoo commented on #15
Me too.

[2019-03-04 00:32] jperelli commented on #18
Seems that this is fixed, closing

[2019-03-04 00:32] #18 closed

[2019-03-04 00:33] jperelli commented on #17
Is this still happening in v3.0.0? there were some changes in the library

[2019-03-04 00:35] jperelli commented on #15
Could you try now? I published v3.0.0

[2019-03-04 00:39] jperelli commented on #24
This seems a webpack/rollup/whathever related error. Maybe it's related to the tilde "~" not being resolved

[2019-03-04 07:02] zhanghoo commented on #15
When I clone your project. npm install, npm run example. It's working.
But when I install it (npm install --save vue2-leaflet-markercluster) in my other project (has install vue2-leaflet) and run dev. It's error ~~

[Vue warn]: Error in mounted hook: "TypeError: Cannot read property '_zoom' of undefined"
found in
---> <LMarker>
       <VMarkerCluster>
         <LMap>

Example.vue is right separate

[2019-03-04 20:02] jperelli commented on #15
@zhanghoo could you tell me what packages do you have installed in your other project? Try installing `leaflet` and if it still doesn't work, try installing `leaflet.markercluster` also. Let me know if it works

[2019-03-05 12:06] fdenzer commented on #15
Works for me (leaflet 1.4.0 vue2leaflet 1.2.3 vue2-leaflet-markercluster 3.0.0)
*but* for me some new cases of `cannot ready property parentnode of undefined` appeared (5 out of 400 markers/80ish markerclusters)
in leaflet src. It could be a previously masked error in my marker logic, though. No worries.

[code]

[2019-03-05 16:08] jperelli commented on #15
True. I'll need to setup the peer dependencies correctly. I'll do that

[2019-03-05 22:09] jperelli commented on #25
It works for me, just like in the example at this line https://github.com/jperelli/vue2-leaflet-markercluster/blob/master/example.vue#L5 I tried using `@spiderfied="log('pepe')"` and defined in the components method `log: function() {console.log(arguments)}`

Try using the latest v3.0.0, maybe it helps you. Otherwise please create and share a reproducible example. Thanks!

[2019-03-05 22:09] #25 closed

[2019-03-05 22:09] #24 closed

[2019-03-05 22:12] jperelli commented on #21
I tried what you say and couldn't reproduce it. Please try the new v3.0.0, If it doesn't work, please share a reproducible example of your issue

[2019-03-05 22:12] #21 closed

[2019-03-06 01:23] zhanghoo commented on #15
I built new one. It's working. Thank you very much.
[code]

[2019-03-06 21:40] AndreyNvk commented on #15
Sorry for that, but I have the same problem as @zhanghoo had
The example.vue standalone works fine, but when it goes to my project it fails

I've tried to update the packages but it didn't help to solve the issue

Could you please tell what was the final remedy for this issue?

[2019-03-07 10:15] jperelli commented on #15
@AndreyNvk the problem should be related to the packages' versions only. Please try updating to these https://github.com/jperelli/vue2-leaflet-markercluster/issues/15#issuecomment-469927508

[2019-03-07 11:41] AndreyNvk commented on #15
@jperelli I've got exactly the same versions of the packages but it doesn't affect somehow the situation with the issue

I took a look on the Vue devtool and noticed that the order of elements is violated
I've got in the devtool the structure:
[code]
But in my vue component the `LTileLayer` goes first and after it the `v-marker-cluster`
I've changed the order of elements in the Example.vue and got

[2019-03-07 13:47] zhanghoo commented on #15
I still don't know the reason. This demo is new one that runs  OK.  @AndreyNvk
https://github.com/zhanghoo/vue-leaflet-demo.git

[2019-03-07 14:18] jperelli commented on #15
@AndreyNvk can you share your code or make a project that has the error so we can reproduce it?

[2019-03-11 18:39] mikebronner commented on #21
This issue still persists. I made a video demonstrating the issue, as the setup to get it to this point is pretty complex, but I'm sure you can replicate it after watching:
https://pouch.jumpshare.com/dl/xva88SRImDiSm-_9jXkyz4-DcpiV9Q4-I3sGarr0cKztzRN6DiqqVDptUVS2S6UFPnzMXGZjSPwsColzBPXAUA?s=4ec600f0cc05e22fb16ac41e0be523822fcc1369&dl=0

Thanks!

[2019-03-11 21:34] AndreyNvk commented on #15
@jperelli yes, you can find the code which emits the error in [the repo](https://github.com/AndreyNvk/vue2-leaflet-markercluster-issue)

Is it ok that I continue to comment this issue or it's better to open a new one?

[2019-03-12 01:03] jperelli commented on #15
@AndreyNvk It's ok here. I'm looking into your repo

[2019-03-12 01:26] jperelli commented on #15
@AndreyNvk You never said that you were using rotatedmarker plugin. The problem is that that plugin is not made for vue2-leaflet version 2 https://github.com/mudin/vue2-leaflet-rotatedmarker, the upstream issue is that the rotatedmarker plugin is not compatible with ES6 modules declarations. See https://github.com/bbecquet/Leaflet.RotatedMarker/issues/11
I might create an es6 version of rotatedmar

[2019-03-12 01:26] #15 closed

[2019-03-12 01:27] jperelli commented on #17
If this issue persists, please don't hesitate in commenting and I'll reopen it

[2019-03-12 01:27] #17 closed

[2019-03-12 01:42] jperelli commented on #21
@mikebronner could you share the MarkerContainer code? I think that the plugin only works with `Marker` or `geojson` children

[2019-03-12 01:48] mikebronner commented on #21
No worries ... MarkerContainer isn't a plugin, it's a custom Vue component I wrote:

[code]

[2019-03-12 12:50] AndreyNvk commented on #15
@jperelli Yes, I've turned the rotadedmarker off and everything started to work smoothly

Julian, thank you for your detailed response you've really helped me to work it out

[2019-03-28 14:31] pablocattaneo opened #27 "Problems using vue2-leaflet-markercluster in Nuxt"
Using nuxt-leaflet module I can set an use alot of the component list: https://github.com/schlunsen/nuxt-leaflet/blob/master/lib/templates/plugin.js like l-marker, l-map, l-tile-layer, but my project also require to use https://github.com/jperelli/vue2-leaflet-markercluster

What is the correct way to implement it in Nuxt?

I try this:

Create a plugins: vue2-leaflet-markercluster.js
[code]

Then

[2019-04-01 11:46] dolgovdv opened #29 "Advanced example custom markercluster."
Hello @jperelli.
This is not a issue report. I'm just starting to learn vue and js.
Your plugin helps a lot.
Please show an advanced example for changing the cluster marker color settings via refreshClusters ().

If necessary, I can bring the cog of my component with the map.
Thank you.

[2019-04-01 22:40] jperelli commented on #29
Hi, please provide your component code

[2019-04-02 13:04] dolgovdv commented on #29
`<template>
  <div style="height: 100%; width: 100%">
    <div class="info" style="height: 15%">
      <span>Zoom: {{ zoom }}</span>
    </div>
    <l-map
      :zoom="zoom"
      :center="center"
      style="height: 600px; width: 800px"
      @update:zoom="zoomUpdated"
      @update:center="centerUpdated"
      @update:bounds="boundsUpdated"

      <l-tile-layer :url="url"/>
      <v-marker-clus

[2019-05-12 20:53] emdahlstrom opened #30 "L.DistanceGrid is not a constructor when markercluster and locatecontrol are used together"
Hi!
I'm having some trouble combining v-marker-cluster and [v-locatecontrol](https://github.com/vUdav/vue2-leaflet-locatecontrol) in a Nuxt project. They work on their own but if both are active at the same time I get the following error:

`app.js:507 TypeError: L.DistanceGrid is not a constructor
    at NewClass._generateInitialClusters (vendors.app.js:2708)
    at NewClass.onAdd (vendors.app.js:

[2019-05-13 11:01] jperelli commented on #30
Hi! which versions of leaflet, vue2-leaflet, vue2-leaflet-markercluster and v-locatecontrol are you using?
There are some breaking changes and strong version incompatibilities with es6 import/export modules that might be the root of your issue

[2019-05-13 20:30] emdahlstrom commented on #30
Hi! Many thanks for taking a look at this issue!

These are the versions I'm running:
[code]

Leaflet wasn't explicitly added to packages.json so I tried adding it. I also tried upgrading leaflet to 1.5.1 but that didn't make any difference.

This is the nuxt plugin I wrote to integrate vue2-leaflet-locatecontrol:
[code]

And the one for marker cluster is the same:
[code]

I've also been trying ou

[2019-05-24 12:37] wawagit commented on #15
Thanks @arenddeboer ! I follow your move to fix the same issue in my react app using `leaflet-marker-cluster` and webpack.

[2019-07-28 14:52] lsumx commented on #20
me, too. i have no thought. so sad

[2019-07-30 21:42] WilliamWCYoung commented on #20
Unfortunately not, sorry.

[2019-07-30 22:47] jperelli commented on #20
I'm reading you guys, but sadly didn't have the time to look into this. Will try to look into it this weekend, comment here so it reaches my mail and I don't forget!

[2019-08-02 06:29] lsumx commented on #20
it seems that cluster only works on the array of geojson.
i see the example on [https://github.com/jperelli/vue2-leaflet-markercluster/blob/master/example-geojson.vue](url)
and i use like that
` <v-marker-cluster :options="clusterOptions">
          <l-geo-json v-for="geojson in all.geojson"
                      :geojson="geojson"
                      :options="all.options"

          </v-marker

[2019-08-31 23:09] pablocattaneo commented on #27
Hi @nelsonlarocca I solved the problem in that way:

1- I created a plugin in the plugins directory I named it vue2-leaflet-markercluster.js. The code:
[code]

2- I added plugin in /nuxt.config.js
![image](https://user-images.githubusercontent.com/11772956/64069901-ae82a100-cc2a-11e9-993b-31635391a9b6.png)

Hope it can help you.

[2019-09-01 05:13] nelsonlarocca commented on #27
Thanks a lot Pablo !
Would you mind sharing just some code enclosed inside the <template> tag just to check that out ?
Just any simple code to complete what you published to get any clue about what I'm doing wrong

Thanks in advance.
Regards,
Nelson

[2019-09-01 18:17] nelsonlarocca commented on #27
Thanks Pablo, it worked out !!!

[2019-09-01 19:33] pablocattaneo commented on #27
Great @nelsonlarocca !! Glad to hear that!!

[2019-09-02 14:05] stasoft91 commented on #30
bump
Any progress yet?

[2019-09-03 06:23] emdahlstrom commented on #30
@stasoft91 hi! I just accepted that I couldn't use both at once. It's a side project that I haven't had time to focus on over summer but will return to it in the fall. Maybe something will have changed in the ecosystem by then.

If you have a similar problem, maybe you can set up a [codesandbox](https://codesandbox.io/) with an example and that might help the issue move forward

[2019-09-10 09:41] quite commented on #30
I have the same problem. Just a fresh vue+vue2-leaflet project. Tried the same things as @emdahlstrom (same versions). I'm getting the `TypeError: L.DistanceGrid is not a constructor` before adding any marker components to the marker-cluster (I'm currently doing this when user clicks a control). Once markers are added, all hell breaks loose :) (a `TypeError: Cannot read property 'getNearObject' of

[2019-09-10 15:32] domoritz commented on #30
I'm not familiar with vue or have a clue as to why this error occurrs.

[2019-09-11 13:32] emdahlstrom commented on #30
@quite good to know that it isn't specific to Nuxt, thanks!

[2019-09-19 13:12] AlexisWalravens commented on #23
How did you do exactly ?
Thanks.

[2019-09-19 13:15] AlexisWalravens commented on #29
Hey, any news on this ?
I'm trying to change the clusters Icon but I did not find how to...
Where and how should I place the `iconCreateFunction` option ?
Thanks

[2019-10-09 23:23] skinner12 commented on #20
Any news?

[2019-10-22 08:46] banli17 commented on #30
when i import vue2-leaflet-polylinedecorator and not use, same error report

[2019-10-25 01:35] banli17 commented on #30
it sames version not compatible

[2019-11-03 14:18] mazvv opened #32 "Marker with dynamic content"
Hi!
I have some problems with markers that has dynamic content. My code is:
[code]
If marker outside the cluster this code works fine, but when cluster spiderify click on marker simply collapse cluster. See image bellow.

![Peek 2019-11-03 16-10](https://user-images.githubusercontent.com/1333230/68086446-e25d8b00-fe54-11e9-8abf-d757ed98992b.gif)

[2019-12-11 18:56] morfair commented on #20
Wait for update too

[2019-12-18 10:40] dpr989 commented on #27
Awesome! Should close this issue? @pablocattaneo

[2019-12-18 12:49] jperelli commented on #27
Closing issue. Thanks @pablocattaneo.
Also as an alternative, try upgrading to latest version, it works very differently on exposing the global.L variable

[2019-12-18 12:49] #27 closed

[2019-12-18 12:53] pablocattaneo commented on #27
Yes @dpr989 you can close it!

[2019-12-19 17:51] gemlarin opened #33 "Accessing MarkerCluster Methods (not MarkerClusterGroup Methods)"
I have figured out how to access MarkerClusterGroup methods (this.$refs.clusterRef.mapObject), but I cannot seem to figure our how to access MarkerCluster methods - specifically the getAllChildMarkers() method. I need to be able to eval all of the child markers to set the Marker Cluster Icon based on the condition of its children and cannot seem to figure out a way to do that using this vue wrappe

[2020-01-09 09:14] ray007 commented on #20
Setting geojson data once works for me, but changing the geojson data does not work.
See also https://github.com/vue-leaflet/Vue2Leaflet/issues/475

[2020-01-09 09:22] morfair commented on #20
Confirm, waiting for correction.
Maybe there is an alternative?

[2020-01-31 14:45] Chris-McQuiggan opened #34 "dynamic cluster icons with v-for"
Hi, having a problem with how custom cluster icons are showing.
For the most part it works perfectly as expected except that when stopping displaying a cluster group that has no pins/data, the last cluster group added takes on the icon properties of the one removed. The files are removed by altering the fileList variable.

A very condensed code snippet bellow:
[code]

The first console log always

[2020-02-11 21:30] mikebronner opened #35 "Error In Mounted Hook"
I am now getting the following error (it's been a few months since I last rebuilt my project assets) and am unable to use this plugin anymore:

[code]

Here is my package.json:
[code]

I have tried with different versions of vue2leaflet and vue2leafletmarkercluster, and none seem to work. Any suggestions?

[2020-02-21 16:02] alemangui opened #36 "Unknown custom element"
Hello @jperelli ,
I have an issue in which I can't figure out how to get the Vue2LeafletMarkerCluster component to work. I have the map and the markers, but not the marker cluster.

[code]
I am importing the component:
[code]
And registering it inside mine with the alias 'l-marker-cluster':
[code]
Which I use in my template:
[code]
All components work and are displayed except the marker-cluster.

[2020-02-25 11:10] Sonicelo commented on #36
Try to use import without {}, like this:

`import Vue2LeafletMarkerCluster from 'vue2-leaflet-markercluster'`

[2020-02-27 13:35] alemangui commented on #36
Omg :man_facepalming: , thanks @Sonicelo

[2020-02-27 13:35] #36 closed

[2020-03-09 13:15] Makapashev opened #37 "Over 20k markers memory leak"
Hi, I've connected vue2leaflet to vuex state value `coordinates` and render it like this:
![image](https://user-images.githubusercontent.com/25025402/76216096-0aa13000-6221-11ea-9cdc-0819767fb4da.png)

I have more than 20k markers, and it takes more than 700mb of memory and extremly freezing the page during the render, but when i render these coordinates from component data directly it takes just

[2020-04-15 09:39] donni106 commented on #29
@AlexisWalravens `iconCreateFunction` should be part of the `options` for the marker cluster.

`<l-marker-cluster :options="clusterOptions">`

with `clusterOptions` in you `data` of the component:

[code]

all possible options are documented here: https://github.com/Leaflet/Leaflet.markercluster#all-options

[2020-04-15 09:50] donni106 opened #39 "dynamic custom icon is changing on zoom - maybe some ID needed"
Hi, clusters are working for my use case pretty well, thanks.
But: I have a special icon to show for clustered points. I do not want to show the number of items on that point, just a random icon. This icon is created dynamically inside of `iconCreateFunction`:

[code]

My problem is, that this method is called when zooming in and out, which lets the icon change.
I have not found any cluster ID to

[2020-04-15 10:48] donni106 commented on #39
Ok, I found a solution with using `.getLatLng` to create a unique identifier!

[code]

Now I can zoom and the icons stay the same as created on first load.

[2020-04-15 10:48] #39 closed

[2020-04-18 09:25] guysqr opened #40 "Aggregating child marker values into the cluster icon"
Hi there

I've tried to work this out but am stuck. I have markers that each have a value property, but cannot see how to make iconCreateFunction() access the value of each marker and use it in the clustered icon. The getAllChildMarkers method doesn't seem to carry the value in each marker object.

It's been a while since I used Vue so I may be just not understanding something fundamental. Are you

[2020-04-22 23:00] maciejunio opened #41 "Example with geojson"
Hi, I'm trying to use your plugin with geojson.
The code in the example-geojeson.vue example does not work

[2020-04-23 13:12] dragoonzx opened #42 "Right-hand side of 'instanceof' is not an object"
Error: TypeError: Right-hand side of 'instanceof' is not an object
Info: mounted hook
Vm component: l-marker

![image](https://user-images.githubusercontent.com/23414987/80103670-3f710880-857d-11ea-8ebd-37ce6270b698.png)

[2020-04-25 12:42] dragoonzx commented on #42
It`s cause of I request markers and await them :( is there any workaround to this?

[2020-04-26 08:25] dragoonzx commented on #33
U need to pass it like this in options props
![image](https://user-images.githubusercontent.com/23414987/80302079-91e63b00-87b0-11ea-9aa0-d16e614a694a.png)

[2020-04-26 09:40] dragoonzx opened #43 "How to use v-leaflet-markercluster with asyncronous markers data?"

[2020-05-12 06:31] holtolee commented on #32
I have the exactly same problem, did you resolve it since you wrote the issue?

[2020-06-25 13:41] EarthmanWeb opened #44 "Error in mounted hook: "TypeError: this._featureGroup.addEventParent is not a function""
Hi, I've installed this in a Webpack project using Vue CLI 4
When I don't use the v-marker-cluster component, all works fine

Modules/versions in question:
[code]

When I try to use, with the syntax provided, I get an error:

[code]
---
Here is the contents of my package.json:

[code]

---
Here is my component code:

[code]

As far as I can tell by the documentation, there should not be a problem.

[2020-06-25 13:47] EarthmanWeb commented on #44
FYI -  I downgraded the versions, trying to find compatible ones, but so far no luck.

I started with the default versions installed with each module

[2020-06-25 13:51] EarthmanWeb commented on #44
When I bypass this module, all is working as expected:
[code]

[2020-07-03 06:24] saltymouse commented on #23
For anyone else who comes across this looking for how to setup custom cluster icons with Vue Leaflet, this is how I got it working. (Assumes a standard setup of [registering your Vue Leaflet components](https://vue2-leaflet.netlify.app/quickstart/#in-a-webpack-rollup-build-system)).

[code]

[2020-07-14 14:30] MatthiasAT commented on #32
Hi, I'm facing exactly the same problem and haven't found another solution yet.

@holtolee: Thanks for your workaround. Unfortunately I'm having problems to figure out where and how to overwrite the popupopen event. I assume, I have to put your code somewhere in my custom popup component that is extending LPopup but don't know how. May I kindly ask you to further explain this, maybe based on an ex

[2020-09-21 14:42] johanneeriksson opened #49 "How to build a CDN version of the Leaflet markercluster plugin for Vue?"
I have been tumbling around with npm and webpack to get a plain JS file to include without any success.

The Vue2 Leaflet docs provide a CDN version that is easy to implement.
https://vue2-leaflet.netlify.app/quickstart/#installation

How is it possible get a plain JS file for the cluster plugin to use with Vue?

Then this would be possible in a simple HTML file:

[code]

Then register components:

[2020-10-08 14:20] edwh commented on #30
I banged my head against this a **_lot_**.  It wasn't when using locatecontrol - it was an intermittent problem I was seeing with vue2-leaflet-markercluster generally.

I didn't get to the bottom of it but I'll put what I found here in case someone else comes across this and it helps.  So far as I could tell, the problem is that:
* The underlying Leaflet.markercluster library relies on the global

[2020-10-23 11:10] yog3sha opened #50 "Could not find a declaration file for module 'vue2-leaflet-markercluster'"
How to add types or declaration of this module when project is created in Vue TS?
Map is getting created but getting following error in terminal:
`Try `npm install @types/vue2-leaflet-markercluster` if it exists or add a new declaration (.d.ts) file containing `declare module 'vue2-leaflet-markercluster';``

[2020-10-23 11:24] yog3sha commented on #50
I created a file named 'vue2-leaflet-markercluster.d.ts' at the level of tsconfig.js and added line `declare module 'vue2-leaflet-markercluster';` to it. Error got resolved. Is there any better or more proper way to do this for this package?

[2020-10-30 13:46] MinerMax555 commented on #50
I have done the same for my project, I don't believe there is any better way as there is no declaration file contained in this library.

[2020-11-14 14:38] erfanSW opened #51 "markers dissapear"
![Capture](https://user-images.githubusercontent.com/44024514/99149486-98cc9080-26a3-11eb-808e-80637c371010.JPG)
 after clustering markers icon disappear

[2020-11-15 07:42] erfanSW commented on #51
I solved this by setting singleMarkerMode: false.

[2020-11-15 15:57] erfanSW commented on #51
I'm still fighting with this issue. Markers get disappeared after clustering. here is my code :
![carbon (2)](https://user-images.githubusercontent.com/44024514/99189784-35f8f900-2778-11eb-8a99-5b925b1deb70.png)
I don't know why this is happening.
there are some points :
markers will appear after hot reloading.
refreshClusters wouldn't help.

[2020-11-23 10:28] Saltibarsciai opened #52 "Vue 3 support"
Hello, [vue-leaflet](https://github.com/vue-leaflet/vue-leaflet) for vue3 is missing you. Are you active? What are your plans on vue 3?

You can join [discord](https://github.com/vue-leaflet/vue-leaflet) and chat about that (✿◠‿◠)

[2020-11-25 15:32] nmezzopera commented on #52
@jperelli If you plan on implementing it please ping me! So we can add it to the organisation (of which you are an admin already)

[2020-12-10 13:06] martsim6 opened #53 "Spiderfy close on reactive/ref value change"
template (in ```<l-map>``` tag):
[code]
then in setup() - **composition API**:
[code]

package.json versions:
[code]

Hello guys,
I have a problem with clusters after spiderfied. After spiderfied is activated and user clicks on Marker, we show them info about that marker in drawer. When drawer shows up, the spiderfy is automaticly closed (even it was just a marker click). Is there a way how to pre

[2021-01-25 15:46] martinlistiak commented on #53
same issue here

[2021-01-28 13:00] jmiguelv commented on #49
@johanneeriksson have you been able to figure this out? I have tried several config options as well, but with no luck? Thank you.

[2021-03-22 09:12] venzeo commented on #53
Hi any update on this? Is there any quick fix or workaround? It affects all users using grouping functionality

[2021-06-07 19:42] theianjohnson commented on #30
Still an issue here, @jperelli?

[2021-06-24 21:43] egesu commented on #51
I had the same issue. Adding `icon size` and `icon-url` properties for `<l-icon>` solved the issue. Attention the case: not `iconSize`, it should be `icon-size`.

[2021-07-23 17:16] vUdav commented on #30
Hi! I'm developer vue2-leaflet-locatecontrol and today I'm see this problem on my project. If I use my package with vue2-leaflet-markercluster on Nuxt then catch this problem.

I dont know how fix this, but on my project I'm just add L to global window object and this resolve for me!

[code]

[2021-10-10 13:01] pengge commented on #30
try to delete node_modules\leaflet folder

[2021-10-20 12:22] SolimanGit opened #61 "Adding data to cluster"
Hi ! So without the marker cluster when i move on the map a call is triggered to add new data to geojson, it works really well but with marker-cluster, new datas are not being added to the cluster. Is there a way to refresh the data ? ( refreshCluster() doesn't do the trick )
Thx in advance and sry if the solution is easy

      <l-marker-cluster
        ref="markerCluster"
        :options="{

[2021-10-20 12:26] #61 closed, assigned to nobody

[2021-10-20 12:28] SolimanGit commented on #20
Same thing, still no work around ?

[2022-01-13 16:35] bsansone opened #64 "How to open a popup when clicking a cluster"
I didn't see any examples or issues on this, but how can I open a popup from clicking the marker-cluster? I would like to be able to use a vue component (like LPopup) as the content of the popup, not just passing a string of html content to `.bindPopup()`. The point of using a popup in the cluster is to essentially see all the data within the cluster.

[2022-01-15 08:32] #64 closed, assigned to nobody

[2022-05-18 11:59] joesoeph commented on #37
[SOLUTION] I have the same issue, hope to find the solution.
I have the solution. You can use geojson format instead of looping on leaflet marker. The live example you can check out https://codesandbox.io/s/xplrrqpjop. You can use https://www.convertcsv.com/csv-to-geojson.htm to convert and upload in your GIST to try this.

I have no idea to use others. Maybe somebody to help fix this issue

[2022-05-19 07:05] vasaeps3 commented on #52
Hi everyone!
any news about vue3?)

[2022-05-31 09:43] CharlotteAndre opened #67 "Create marker cluster with multiple layer-group"
Hi, I'm using marker-cluster with layer-group where each layer represents a depth in a same point in the sea. My code a for now constructed like that
[code]

My problem is the following, my marker cluster only appear of point are in the same layer-group.... But i really would like for them to include all points for close location even if they are in different layer... So I already tried to move th

[2022-06-13 15:15] quentin-aslan commented on #49
Any news?